*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
.container-full{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
/* column  */
.col-20{
    width: 20%;
}
.col-30{
    width: 30%;
}
.col-33{
    width: calc(100% / 3);
}
.col-40{
    width: 40%;
}
.col-50{
    width: 50%;
}
.col-60{
    width: 60%;
}
.col-70{
    width: 70%;
}
.col-100{
    width: 100%;
}

/* content  */
.content{
    width: 100%;
    /* background-color: red; */
    /* border: 1px  solid black; */
}
.space-beetween{
    justify-content: space-between;
}
.text-right{
    justify-content: end;
}
.bold{
    font-weight: 700;
}
.border{
    border: 1px solid rgb(194, 190, 190);
}
hr{
    color:rgb(194, 190, 190) ;
}
.small{
    width: 20%;
    margin: 30px ;
}
.text-center{
    text-align: center;
}
button{
    padding: 10px;
    border: 0;
    
}
.img{
    width: 100%;
}
li{
    list-style-type: none;
    padding: 10px 0 ;
}
/* bg e color */
.bg_blue{
    background-color: blue;
    padding-top: 10px;
}
.bg_lightblue{
    background-color: rgb(92, 188, 239);
}
.bg_black{
    background-color: black;
}
.bg_white{
    background-color: white;
}
.text-white{
    color: white;
}
/* space  */
.padding-y-20{
    padding: 20px 0;
}
.padding-20{
    padding: 20px;
}
.margin-top-50{
    margin-top: 50px;
}

/* HEADER  */

header li{
    padding: 10px;
}

header ul{
    align-items: center;
}
header img{
    min-width:10px ;
}
/* MAIN  */
h1{
    font-size: 80px;
    padding-top: 50px;
}

#jumbo{
    max-width: 100%;
}
h2{
    margin: 80px 0 30px;
    font-size: 40px;
}
.type-business{
    padding: 10px;
}